{{- $wsl := false -}}{{/* wsl 1/2 */}}
{{- if eq .chezmoi.os "linux" }}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    {{- $wsl = true }}
{{-   end }}
{{- end }}

[data]
    wsl = {{ $wsl }}

    # bitwarden config
    bw_chezmoi_item_name = "chezmoi"
    bw_ssh_private_key_filename = "id_rsa"
    bw_ssh_public_key_filename = "id_rsa.pub"
    
    bw_gpg_public_key_filename = "git-public-key.asc"
    bw_gpg_private_key_filename = "git-private-key.asc"
    git_signing_key = {{ (bitwardenFields "item" (bitwarden "item" "chezmoi").id).git_signing_key_id.value | quote }}
