# ZSH configuration
HISTFILE=~/.histfile
HISTSIZE=10000
SAVEHIST=1000
setopt autocd extendedglob
bindkey -e

# enable passphrase prompt for gpg
export GPG_TTY=$(tty)

ZSH_CACHE_DIR="${XDG_CACHE_HOME:-$HOME/.cache}/zsh"
[[ -d $ZSH_CACHE_DIR/completions ]] || mkdir -p $ZSH_CACHE_DIR/completions  # For kubectl completions
fpath=($ZSH_CACHE_DIR/completions $fpath)
fpath=(~/.zfunc $fpath)
zstyle :compinstall filename "$HOME/.zshrc"
autoload -Uz compinit && compinit

# Antigen
source ~/antigen.zsh
antigen use oh-my-zsh
antigen bundle git
antigen bundle pip
antigen bundle mise
antigen bundle zsh-users/zsh-syntax-highlighting
antigen apply

# bring in auto completion for tools
if [[ $commands[kubectl] ]]; then
  source <(kubectl completion zsh)
fi
if [[ $commands[helm] ]]; then
  source <(helm completion zsh)
fi

# set up rust
if test -f "$HOME/.cargo/env"; then
  source "$HOME/.cargo/env"
fi

# Bring in env vars and aliases.
if [[ -f ~/.bwenv ]]; then
  source ~/.bwenv
fi
source ~/.zshenv
source ~/.shell_aliases

{{- if .wsl }}
# fix for WSL/WT to keep the current path (https://docs.microsoft.com/en-us/windows/terminal/tutorials/new-tab-same-directory)
keep_current_path() {
  printf "\e]9;9;%s\e\\" "$(wslpath -w "$PWD")"
}
precmd_functions+=(keep_current_path)

# set DISPLAY to wsl's automatically assigned nameserver (aka localhost)
export DISPLAY=$(cat /etc/resolv.conf | grep nameserver | awk '{print $2; exit;}'):0.0
{{- end }}

# initialize starship prompt
eval "$(starship init zsh)"

if [ -z "$SSH_AUTH_SOCK" ]; then
   # Check for a currently running instance of the agent
   RUNNING_AGENT="`ps -ax | grep 'ssh-agent -s' | grep -v grep | wc -l | tr -d '[:space:]'`"
   if [ "$RUNNING_AGENT" = "0" ]; then
        # Launch a new instance of the agent
        ssh-agent -s &> $HOME/.ssh/ssh-agent
   fi
   eval `cat $HOME/.ssh/ssh-agent` > /dev/null
   ssh-add 2> /dev/null
fi