export PATH="$PATH:$HOME/.local/bin"
export PATH="$PATH:$HOME/.local/share/mise/shims"
export PATH="$PATH:/usr/local/bin"

{{- if ne .chezmoi.hostname .hosts.kali }}
export EDITOR="code --wait"
{{- else }}
export EDITOR="code-oss --wait --disable-keytar"
{{- end }}

{{- if eq .chezmoi.hostname .hosts.kali }}
export dirsmall='/usr/share/wordlists/dirbuster/directory-list-2.3-small.txt'
export dirmed='/usr/share/wordlists/dirbuster/directory-list-2.3-medium.txt'
export rockyou='/usr/share/wordlists/rockyou.txt'
{{- end}}

if [[ -f $HOME/.zshenv.local ]]; then
  source $HOME/.zshenv.local
fi