#!/usr/bin/env bash
tools_apt=(
    build-essential
    zlib1g-dev
    libncurses5-dev
    libgdbm-dev
    libnss3-dev
    libssl-dev
    libreadline-dev
    libffi-dev
    libsqlite3-dev
    xz-utils
    tk-dev
    libxml2-dev
    libxmlsec1-dev
    liblzma-dev
    wget
    libbz2-dev
    git
    htop
    zsh
    zsh-syntax-highlighting
    ripgrep
    jq
    exa
    gpg
    gpg-agent
    gpgconf
)

tools_non_apt=(
    direnv
)

# move chezmoi if installed in default location
if [[ -f "{{ .chezmoi.homeDir }}/bin/chezmoi" ]]; then
    sudo mv "{{ .chezmoi.homeDir }}/bin/chezmoi" /usr/local/bin/
    sudo rm -rf "{{ .chezmoi.homeDir }}/bin"
fi

mkdir -p {{ .chezmoi.homeDir }}/.local/bin
mkdir -p {{ .chezmoi.homeDir }}/.zfunc

DNF_CMD=$(which dnf)
APT_GET_CMD=$(which apt-get)

if [[ ! -z $YUM_CMD ]]; then
    sudo dnf install -y --skip-unavailable "${tools_apt[@]}"
    sudo dnf remove -y "${tools_non_apt[@]}"
elif [[ ! -z $APT_GET_CMD ]]; then
    sudo apt-get update && sudo apt-get install -y "${tools_apt[@]}"
    sudo apt-get remove -y "${tools_non_apt[@]}"
fi

if [[ $SHELL != *"zsh"* ]]; then
    sudo chsh -s $(which zsh) $(whoami)
fi

# install/update starship prompt
curl -sS https://starship.rs/install.sh | sh -s -- --yes

# install/update direnv
export bin_path={{ .chezmoi.homeDir }}/.local/bin
curl -sfL https://direnv.net/install.sh | bash

# install/update antigen
curl -L git.io/antigen > antigen.zsh

# install or update asdf
if [[ -d "{{ .chezmoi.homeDir }}/.asdf" ]]; then
    echo "Updating asdf installation..."
    git -C ~/.asdf pull origin HEAD
else
    git clone https://github.com/asdf-vm/asdf.git ~/.asdf
fi

# direnv plugin installation
{{ .chezmoi.homeDir }}/.asdf/bin/asdf plugin add direnv
{{ .chezmoi.homeDir }}/.asdf/bin/asdf direnv setup --no-touch-rc-file --shell zsh --version system

# python, rust, golang and node plugins
{{ .chezmoi.homeDir }}/.asdf/bin/asdf plugin add python
{{ .chezmoi.homeDir }}/.asdf/bin/asdf plugin add rust
{{ .chezmoi.homeDir }}/.asdf/bin/asdf plugin add golang
{{ .chezmoi.homeDir }}/.asdf/bin/asdf plugin add nodejs

# rust
if [[ -d "{{ .chezmoi.homeDir }}/.cargo" ]]; then
    echo "Skipping rust download..."
else
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --no-modify-path
    . "$HOME/.cargo/env"
    rustup completions zsh > {{ .chezmoi.homeDir }}/.zfunc/_rustup
fi
