#!/usr/bin/env bash
tools_apt=(
    build-essential
    zlib1g-dev
    libncurses5-dev
    libgdbm-dev
    libnss3-dev
    libssl-dev
    libreadline-dev
    libffi-dev
    libsqlite3-dev
    xz-utils
    tk-dev
    libxml2-dev
    libxmlsec1-dev
    liblzma-dev
    wget
    libbz2-dev
    git
    htop
    ripgrep
    jq
    exa
    gpg
    gpg-agent
    gpgconf
)

# move chezmoi if installed in default location
if [[ -f "{{ .chezmoi.homeDir }}/bin/chezmoi" ]]; then
    sudo mv "{{ .chezmoi.homeDir }}/bin/chezmoi" /usr/local/bin/
    sudo rm -rf "{{ .chezmoi.homeDir }}/bin"
fi

mkdir -p {{ .chezmoi.homeDir }}/.local/bin

DNF_CMD=$(which dnf)
APT_GET_CMD=$(which apt-get)

if [[ ! -z $DNF_CMD ]]; then
    sudo dnf install -y --skip-unavailable "${tools_apt[@]}"
    sudo dnf remove -y "${tools_non_apt[@]}"
elif [[ ! -z $APT_GET_CMD ]]; then
    sudo apt-get update && sudo apt-get install -y "${tools_apt[@]}"
    sudo apt-get remove -y "${tools_non_apt[@]}"
fi

# install/update ohmyposh prompt
curl -s https://ohmyposh.dev/install.sh | bash -s -- -d ~/.local/bin

# install mise
curl https://mise.run | sh
mise use -g usage
